<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>11q2`s Worklog</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
<header class="header">
    <h1>11q2</h1>
    <nav class="nav" aria-label="Main navigation">
        <ul>
            <li><a href="/static">Dashboard</a></li>
            <li><a href="/worklog/">Tasks</a></li>
            <li><a href="/stats">Stats</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
    </nav>
</header>

<div class="main-container">
    <aside class="sidebar">
        <section class="working-window">
            <header class="window-header">Current Work Status</header>
            <div class="window-content">
                Currently working: <strong><span id="working-indicator">{{.IsWorking}}</span></strong>
            </div>
        </section>
        <section class="session">
        <div class="session-summary">
            <header class="window-header">Today's work sessions: </header>
            <ul id="session-list">
                {{ range .AllSessions }}
                <li>{{ . }}</li>
                {{ end }}
            </ul>
            <strong>Total: </strong><span id="session-total">{{.TotalSessionDur}}</span>
        </div>
        </section>
    </aside>

    <main class="history" id="history">
        <section class="date-window" id="date-window">
            <header class="window-header">Select Date</header>
            <div class="window-content">
                <input type="date" id="date" name="date" required aria-label="Select date">
            </div>
        </section>

        <section class="tasks">
            <h2>Tasks done on this day:</h2>
            {{ if .Dones }}
            {{ range .Dones }}
            <article class="day-log" data-date="{{ .DoneAt.Time.Format `2006-01-02` }}">
            <p>
                <span class="task-name">{{ .Name }}</span> —
                <span class="task-desc">{{ .Description }},</span>
                DONE AT
                <time
                        datetime="{{ if .DoneAt.Valid }}{{ .DoneAt.Time.Format `2006-01-02T15:04:05Z07:00` }}{{ end }}"
                >
                {{ if .DoneAt.Valid }}
                {{ .DoneAt.Time.Format "15:04:05" }}
                {{ else }}
                -
                {{ end }}
                </time>
            </p>
            </article>
            {{ end }}
            {{ else }}
            <p>No completed tasks for this date.</p>
            {{ end }}
        </section>



    </main>
</div>

<script src="/worklog.js"></script>
</body>

</html>
